@using BisleriumCafe.Data.Model
@using System.Diagnostics
@using BisleriumCafe.Data.Service

@inject ISnackbar Snackbar;

<MudDialog Style="width: 400px">
    <DialogContent>
        @if (!string.IsNullOrEmpty(_updateCoffeeErrorMessage))
        {
            <MudAlert Severity="Severity.Error">@_updateCoffeeErrorMessage</MudAlert>
        }
        <MudForm @onsubmit="UpdateCoffee">
            <MudTextField T="Guid" Label="Coffee ID" ReadOnly="true" Value="@coffee.coffeeId" Variant="Variant.Outlined"/>

            <MudTextField T="string" Label="Coffee Name" Required="true" RequiredError="Coffee Name is required!"
                          Variant="Variant.Outlined" @bind-Value="@coffee.coffeeName"/>

            <MudTextField T="string" Label="Coffee Description" Required="false" AutoGrow
                           Variant="Variant.Outlined" @bind-Value="@coffee.coffeeDescription" />

            <MudTextField T="decimal" Label="Coffee Price" Required="true" RequiredError="Coffee Price is required!"
                          Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney"
                          AdornmentColor="Color.Warning" Variant="Variant.Outlined"
                           @bind-Value="@coffee.coffeePrice" InputType="InputType.Number"/>

            <div class="d-flex align-center justify-space-between mt-4">
                <MudButton Variant="Variant.Filled" Color="Color.Success" Class="ml-auto" ButtonType="ButtonType.Submit">
                    Update
                </MudButton>
            </div>
        </MudForm>
    </DialogContent>
    <DialogActions>
         <MudButton OnClick="Cancel">Cancel</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public Coffee coffee { get; set; } = new Coffee();

    [Parameter] public Action ChangeState { get; set; }

    public Coffee updateCoffee { get; set; } = new Coffee();

    public string ReadOnly { get; set; }
    private Guid _coffeeId { get; set; }
    private string _coffeeName { get; set; }
    private string _coffeeDescription { get; set; }
    private decimal _coffeePrice { get; set; }
    private string _updateCoffeeErrorMessage { get; set; }

    void Cancel() => MudDialog.Cancel();

    void UpdateCoffee()
    {
        try
        {
            _updateCoffeeErrorMessage = "";
            Debug.WriteLine("Edit");

            Debug.WriteLine(coffee.coffeeName);
            Debug.WriteLine(coffee.coffeeDescription);

            

           // CoffeeService.UpdateCoffee(coffee.coffeeId, coffee.coffeeName, coffee.coffeeDescription, coffee.coffeePrice);

            Snackbar.Add("Coffee Updated", Severity.Success);
            ChangeState();
            MudDialog.Close();

        }
        catch (Exception e)
        {
            _updateCoffeeErrorMessage = e.Message;
        }
    }
}