@page "/"

<h1>@Title Page</h1>

@if (Users.Count > 0)
{
    <MudTable Items="@UserRecord" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info">
        <HeaderContent>
            <MudTh>ID</MudTh>
            <MudTh>UserName</MudTh>
            <MudTh>PasswordHashed</MudTh>
            <MudTh>Role</MudTh>
            <MudTh>NumberOfOrderCounter</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="ID">@context.Id</MudTd>
            <MudTd DataLabel="UserName">@context.UserName</MudTd>
                <MudTd DataLabel="Password" HideSmall="_hidePosition">@context.Password</MudTd>
            <MudTd DataLabel="Role">@context.Role</MudTd>
            <MudTd DataLabel="NumberOfOrderCounter">@context.OrderCounter</MudTd>
        </RowTemplate>
    </MudTable>

    <MudSwitch @bind-Checked="_hidePosition">Hide <b>position</b> when Breakpoint=Xs</MudSwitch>
    <MudSwitch @bind-Checked="_loading">Show Loading</MudSwitch>
}