@page "/product"

@inject IDialogService DialogService
@inject Microsoft.AspNetCore.Components.NavigationManager NavManager;
@inject ISnackbar Snackbar;

<h3>@coffee</h3>
@if (_globalState.CurrentUser != null && _globalState.CurrentUser.Role == "Admin")
{
    <MudButton @onclick="OpenDialog" Variant="Variant.Filled" Color="Color.Primary" Class="rounded-pill" Icon="@Icons.Material.Filled.Add">
        Add New Coffee
    </MudButton>
}

<br/><br/>

@if (CoffeeList.Count > 0)
{
    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Coffee Name</th>
            <th scope="col">Coffee Description</th>
            <th scope="col">Coffee Price</th>
                @if (_globalState.CurrentUser is {Role: "Admin" })
            {
                    <th scope="col">Edit</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var coffee in CoffeeList)
        {
            <tr>
                <th>@coffee.coffeeId</th>
                <td>@coffee.coffeeName</td>
                <td>@coffee.coffeeDescription</td>
                <td>$@coffee.coffeePrice</td>
                    @if (_globalState.CurrentUser is {Role: "Admin" })
                {
                    <td>
                        <div style="display: flex;">
                            <MudIconButton Color="Color.Success" Icon="@Icons.Material.Filled.Edit" aria-label="edit"
                                           OnClick="@((e) => EditCoffeeOpenDialog(coffee))">
                            </MudIconButton>
                            <MudIconButton Color="Color.Error" Icon="@Icons.Material.Filled.Delete" aria-label="delete" 
                                           @onclick="() => DeleteCoffee(coffee.coffeeId)">
                            </MudIconButton>
                        </div>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
}
<br />
<br />

<h3>AddIn</h3>

@if (_globalState.CurrentUser != null && _globalState.CurrentUser.Role == "Admin")
{
    <MudButton @onclick="OpenAddNewAddInDialog" Variant="Variant.Filled" Color="Color.Primary" Class="rounded-pill"
               Icon="@Icons.Material.Filled.Add">
        Add New AddIn
    </MudButton>
}
<br />
<br />

@if (AddInList.Count > 0)
{
    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">AddIn Name</th>
            <th scope="col">AddIn Description</th>
            <th scope="col">AddIn Price</th>
                @if (_globalState.CurrentUser != null && _globalState.CurrentUser.Role == "Admin")
            {
                <th scope="col">Edit</th>

            }
        </tr>
        </thead>
        <tbody>
        @foreach (var addIn in AddInList)
        {
            <tr>
                <th>@addIn.addInId</th>
                <td>@addIn.addInName</td>
                <td>@addIn.addInDescription</td>
                <td>$@addIn.addInPrice</td>
                    @if (_globalState.CurrentUser != null && _globalState.CurrentUser.Role == "Admin")
                {
                    <td>
                        <div style="display: flex;">
                            <MudIconButton Color="Color.Success" Icon="@Icons.Material.Filled.Edit" aria-label="edit"
                                           OnClick="@((e) => EditAddInOpenDialog(addIn))">
                            </MudIconButton>
                            <MudIconButton Color="Color.Error" Icon="@Icons.Material.Filled.Delete" aria-label="delete" 
                                           @onclick="() => DeleteAddIn(addIn.addInId)">
                            </MudIconButton>
                        </div>
                    </td>
                }
            </tr>
        }
        </tbody>
    </table>
}

<style>
    .my-custom-class {
        backdrop-filter: blur(10px);
    }
</style>