@page "/register"

@using Microsoft.AspNetCore.Components

@inject Microsoft.AspNetCore.Components.NavigationManager NavManager;

<div style="height: calc(100vh - 64px)" class="d-flex justify-center align-center">
    <MudPaper Class="pa-6" Width="60vh">
        <MudStack Class="mb-4" Row="true" AlignItems="AlignItems.Center" Justify="Justify.Center" Spacing="2">
            <MudIcon Icon="@Icons.Material.Filled.Coffee" Color="Color.Primary" Size="Size.Large" />
            <MudText Color="Color.Primary" Typo="Typo.h4" Style="font-weight: bold">Bislerium Cafe</MudText>
        </MudStack>
        
        <MudStack Class="mb-4" Row="true" AlignItems="AlignItems.Center" Justify="Justify.Center" Spacing="2">
            <MudText Color="Color.Dark" Style="font-weight: bold; font-size: medium">Register User</MudText>
        </MudStack>

        <MudForm @ref="_form" @bind-IsValid="@_success" @bind-Errors="@_errors" @onsubmit="AddNewUser">
            @if (!string.IsNullOrEmpty(_addUserErrorMessage))
            {
                <MudAlert Severity="Severity.Error">@_addUserErrorMessage</MudAlert>
            }
            <MudTextField T="string" Label="Username" Required="true" RequiredError="User name is required!" @bind-Value="_userName"/>

            <MudTextField T="string" Label="Password" HelperText="Choose a strong password" @ref="_pwField1"
                          InputType="InputType.Password"
                          Validation="@(new Func<string, IEnumerable<string>>(PasswordStrength))" Required="true"
                          RequiredError="Password is required!" @bind-Value="_password"/>

            <MudSelect @bind-Value="_userRole" T="string" Label="Role" Placeholder="Select Role" AdornmentIcon="@Icons.Material.Filled.AdminPanelSettings" AdornmentColor="Color.Primary" Required="true" RequiredError="Select Role">

                <MudSelectItem Value="@("User")">User</MudSelectItem>
                <MudSelectItem Value="@("Staff")">Staff</MudSelectItem>
                <MudSelectItem Value="@("Admin")">Admin</MudSelectItem>
            </MudSelect>

            <div class="d-flex align-center justify-space-between mt-4">
                <MudButton Variant="Variant.Filled" Color="Color.Secondary" DisableElevation="true" OnClick="@(() => _form.ResetAsync())" Class="mx-2">Reset</MudButton>

                <MudButton Variant="Variant.Filled" Color="Color.Success" Disabled="@(!_success)" Class="ml-auto" ButtonType="ButtonType.Submit">
                    Register
                </MudButton>
            </div>
        </MudForm>
        
        <div class="d-flex align-center justify-center mt-4">
            <MudLink Href="/login">Already Have Account ? Login</MudLink>
        </div>
    </MudPaper>
</div>